*{
  padding: 0;
  margin: 0;
  background-color: #2d3436;
}
canvas{
  background: #2d3436;
  position: absolute;
  top: 100px;
  left: 450px;
  display: block;
  margin: 0;
  border:  5px solid #a29bfe;
  border-radius: 10%;
}
#one{
  position: absolute;
  letter-spacing: 3px;
  font-size: 30px;
  color: #ff7675;
  font-family: monospace;
  top:500px;
  left:200px;
}
#two{
  position: absolute;
  letter-spacing: 3px;
  font-size: 30px;
  color: #81ecec;
  font-family: monospace;
  top:500px;
  left:850px;
}

.name{
  position: absolute;
  letter-spacing: 3px;
  font-size: 50px;
  color: #a29bfe;
  font-family: monospace;
  top:10px;
  left:450px;
}

#goal{
  position: absolute;
  letter-spacing: 3px;
  font-size: 50px;
  color: #dfe6e9;
  font-family: monospace;
  top:650px;
  left:200px;
}

#winner{
  position: absolute;
  letter-spacing: 3px;
  font-size: 50px;
  color: #ffeaa7;
  font-family: monospace;
  top:650px;
  left:200px;
}
